<nav class="navbar">
  <a href="index.html">
    <img class="navbar-logo" src="img/scritta-bianca.webp" alt="ST Studio Milano" />
  </a>

  <div class="nav-links">
    <a class="navbar-item" href="index.html">Home</a>
    <a class="navbar-item" href="who-we-are.html">Chi Siamo</a>
    <a class="navbar-item" href="services.html">Servizi</a>
    <a class="navbar-item" href="contacts.html">Contatti</a>
  </div>

  <div style="display: flex; align-items: center; gap: 20px;">
    
    <div class="lang-switch desktop-only">
        <img src="img/flags/it.svg" alt="Italiano" class="flag-icon active">
        
        <a href="en/index.html">
            <img src="img/flags/gb.svg" alt="English" class="flag-icon">
        </a>
    </div>

    <div class="hamburger-btn" id="mobileMenuBtn">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
  </div>
</nav>

<div class="menu" id="menuOverlay">
  <a href="index.html">Home</a>
  <a href="who-we-are.html">Chi Siamo</a>
  <a href="services.html">Servizi</a>
  <a href="contacts.html">Contatti</a>
  
  <div class="mobile-lang">
      <img src="img/flags/it.svg" class="flag-icon active" width="30">
      <a href="en/index.html"><img src="img/flags/gb.svg" class="flag-icon" width="30"></a>
  </div>
</div>